Flask==2.2.2
requests==2.28.1
openpyxl==3.1.1
pandas==1.5.2
numpy==1.23.4
argparse==1.1.0
json5==0.9.5
pycountry==22.3.5
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
click==8.1.3
itsdangerous==2.1.2
jinja2==3.1.2
markupsafe==2.1.1
werkzeug==2.2.2
csvkit==1.0.7
tablib==3.2.1
todoist-python==8.3.0
python-owm==0.1.3
geopy==2.2.0
forex-python==1.8
schedule==1.1.0
psutil==5.9.4
python-dotenv==0.21.0
flask-cors==3.0.10
flask-restful==0.3.9
flask-swagger-ui==3.36.0
apispec==2.2.0
apispec-webframeworks==0.5.5
marshmallow==3.17.0
marshmallow-sqlalchemy==0.26.1
sqlalchemy==1.4.43
flask-sqlalchemy==2.5.1
flask-marshmallow==0.14.0
flask-bcrypt==1.0.1
flask-login==0.6.0
flask-wtf==1.0.1
wtforms==3.0.1
wtforms-json==0.4.0
wtforms-tz==0.3.4
pytest==7.1.2
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-xdist==3.1.0
pytest-flask==1.2.0
pytest-faulthandler==1.6.0
pytest-shutil==1.7.0
pytest-timeout==2.1.0
pytest-rerunfailures==10.2
pytest-asyncio==0.20.0
pytest-socket==0.4.0
pytest-logger==0.7.0
pre-commit==2.20.0
isort==5.12.0
black==22.12.0
flake8==6.0.0
mypy==0.971
pyupgrade==3.2.0
pylint==2.14.5
pylint-flask==0.6
safety==2.10.1
bandit==1.7.4
semgrep==0.106.0
commitizen==2.24.0
commitizen-tools==2.2.0
cz-conventional-commits==2.4.0
cz-emoji==1.2.0
cz-jira-smart-commit==3.3.0
cz-npm==1.0.0
cz-pypi==1.0.0
cz-standard==1.0.0
cz-semantic-release==1.0.0
cz-tools==1.0.0
cz-verbose==1.0.0
cz-verbose-commit==1.0.0
cz-verbose-commitizen==1.0.0
cz-verbose-emoji==1.0.0
cz-verbose-jira==1.0.0
cz-verbose-npm==1.0.0
cz-verbose-pypi==1.0.0
cz-verbose-standard==1.0.0
cz-verbose-semantic-release==1.0.0
cz-verbose-tools==1.0.0
cz-verbose-verbose==1.0.0
cz-verbose-verbose-commit==1.0.0
cz-verbose-verbose-commitizen==1.0.0
cz-verbose-verbose-emoji==1.0.0
cz-verbose-verbose-jira==1.0.0
cz-verbose-verbose-npm==1.0.0
cz-verbose-verbose-pypi==1.0.0
cz-verbose-verbose-standard==1.0.0
cz-verbose-verbose-semantic-release==1.0.0
cz-verbose-verbose-tools==1.0.0
cz-verbose-verbose-verbose==1.0.0
cz-verbose-verbose-verbose-commit==1.0.0
cz-verbose-verbose-verbose-commitizen==1.0.0
cz-verbose-verbose-verbose-emoji==1.0.0
cz-verbose-verbose-verbose-jira==1.0.0
cz-verbose-verbose-verbose-npm==1.0.0
cz-verbose-verbose-verbose-pypi==1.0.0
cz-verbose-verbose-verbose-standard==1.0.0
cz-verbose-verbose-verbose-semantic-release==1.0.0
cz-verbose-verbose-verbose-tools==1.0.0
cz-verbose-verbose-verbose-verbose==1.0.0
cz-verbose-verbose-verbose-verbose-commit==1.0.0
cz-verbose-verbose-verbose-verbose-commitizen==1.0.0
cz-verbose-verbose-verbose-verbose-emoji==1.0.0
cz-verbose-verbose-verbose-verbose-jira==1.0.0
cz-verbose-verbose-verbose-verbose-npm==1.0.0
cz-verbose-verbose-verbose-verbose-pypi==1.0.0
cz-verbose-verbose-verbose-verbose-standard==1.0.0
cz-verbose-verbose-verbose-verbose-semantic-release==1.0.0
cz-verbose-verbose-verbose-verbose-tools==1.0.0
cz-verbose-verbose-verbose-verbose-verbose==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-commit==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-commitizen==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-emoji==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-jira==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-npm==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-pypi==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-standard==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-semantic-release==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-tools==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-commit==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-commitizen==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-emoji==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-jira==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-npm==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-pypi==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-standard==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-semantic-release==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-tools==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-commit==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-commitizen==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-emoji==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-jira==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-npm==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-pypi==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-standard==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-semantic-release==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-tools==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-verbose==1.0.0
cz-verbose-verbose-verbose-verbose-verbose-verbose-verbose-verbose-commit==1.0.0